<footer class="mt-3 py-4 bg-primary">
        <div class="container">
            <div class="row gy-3">
                <div class="col-md-6 col-lg-4">
                    <form>
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Email giriniz.">
                            <button type="button" class="btn btn-subscribe" style="border-color: #f7c7ba;">Abone Ol</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 col-lg-8">
                    <nav class="text-end">
                        <a href="#" class="btn btn-icon">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="#" class="btn btn-icon ">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" class="btn btn-icon">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="#" class="btn btn-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </nav>
                </div>
                <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between">
                        <p class="mb-0 text-white">
                            2026 Tüm hakları saklıdır.
                        </p>
                        <img src="~/img/iyzico.png" alt="IyziCo ile Güvenli Ödeme" class="img-fluid" style="max-height: 40px;" />
                    </div>
                </div>
            </div>
        </div>
    </footer>