@using dotnet_store.Models
@using System.Text.Json
@using dotnet_store.Controllers.Admin
@inject Microsoft.AspNetCore.Identity.SignInManager<AppUser> SignInManager
@inject Microsoft.AspNetCore.Identity.UserManager<AppUser> UserManager
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment Env
@{
    var menuItems = new List<MenuItem>();
    try
    {
        var settingsPath = System.IO.Path.Combine(Env.ContentRootPath, "site-settings.json");
        if (System.IO.File.Exists(settingsPath))
        {
            var json = System.IO.File.ReadAllText(settingsPath);
            var settings = JsonSerializer.Deserialize<SiteSettingsVM>(json);
            if (settings?.Navbar != null && settings.Navbar.Count > 0)
            {
                menuItems = settings.Navbar
                    .Where(mi => mi != null && !string.IsNullOrWhiteSpace(mi.Text))
                    .ToList();
            }
        }
    }
    catch { }

    if (menuItems.Count == 0)
    {
        menuItems = new List<MenuItem>
        {
            new MenuItem{ Text = "Kitap", Url = "#"},
            new MenuItem{ Text = "Elektronik", Url = "#"},
            new MenuItem{ Text = "Hobi&Oyuncak", Url = "#"}
        };
    }
}
<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
            <div class="container">
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav">
                        @for (int i = 0; i < menuItems.Count; i++)
                        {
                            var item = menuItems[i];
                            <li class="nav-item">
                                <a href="@item.Url" class="nav-link @(i == 0 ? "ps-0" : null)">@item.Text</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>